body {
	background-image: url("../images/Access-Denied.jpg");
	background-repeat: no-repeat;
	 background-size: cover;
}

a:link, a:visited {
	background-color: #f44336;
	color: white;
	padding: 20px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	}

a:hover, a:active {
	background-color: red;
}